<template>
  <div class="home">
    <div class="productsList">
      <div>
        Available Products
      </div>
      <div v-if="products.length">
        <ProductListItem
          v-for="product in products"
          :key="product.uuid"
          :product="product"
          @add="addProduct"
          @remove="removeProduct"
          @increment="incrementProduct"
          @decrement="decrementProduct"
        />
      </div>
      <p v-else>
        No products on the list.
      </p>
    </div>
    <div class="basketList">
      <div>
        Basket
      </div>
      <div v-if="productsInBasket.length">
        <BasketListItem
          v-for="basketProduct in productsInBasket"
          :key="basketProduct.uuid"
          :basketProduct="basketProduct"
          @remove="removeProduct"
          @increment="incrementProduct"
          @decrement="decrementProduct"
        />
      </div>
      <p v-else>
        No products in the basket.
      </p>
    </div>
  </div>
</template>

<script>
import BasketListItem   from '@/components/BasketListItem.vue';
import ProductListItem  from '@/components/ProductListItem.vue';
import {
  post
} from '../services/DataSource';
import {
  addToBasket,
  decrementProductInBasket,
  getAvailableProducts,
  getBasket,
  incrementProductInBasket,
  removeFromBasket
} from '../services/MockedBackend';

export default {
	components: {
		ProductListItem, BasketListItem
	},
  data () {
    return {
			newTodoText:      '',
      products:         [],
      productsInBasket: [],
    }
  },
  mounted () {
    post('/products/available/get').then(result => {
      this.products = result.data;
    });

    post('/basket/get').then(result => {
      this.productsInBasket = result.data;
    });

  //  this.products         = getAvailableProducts()
  //  this.productsInBasket = getBasket();
  },
	methods: {
		addProduct (productUuid) {
      post('/basket/product/add', {productUuid: productUuid}).then(result => {
        this.products         = result.data.products;
        this.productsInBasket = result.data.productsInBasket;
      });

		//	this.productsInBasket = addToBasket(productUuid);
		},
		removeProduct (productUuid) {
      post('/basket/product/remove', {productUuid: productUuid}).then(result => {
        this.products         = result.data.products;
        this.productsInBasket = result.data.productsInBasket;
      });

		//	this.productsInBasket = removeFromBasket(productUuid);
    },
    incrementProduct (productUuid) {
      post('/basket/product/number/increment', {productUuid: productUuid}).then(result => {
        this.products         = result.data.products;
        this.productsInBasket = result.data.productsInBasket;
      });

      /*
      const {
        products,
        productsInBasket
      } = incrementProductInBasket(productUuid);

      this.products         = products;
      this.productsInBasket = productsInBasket;
      */
    },
    decrementProduct (productUuid) {
      post('/basket/product/number/decrement', {productUuid: productUuid}).then(result => {
        this.products         = result.data.products;
        this.productsInBasket = result.data.productsInBasket;
      });
      /*
      const {
        products,
        productsInBasket
      } = decrementProductInBasket(productUuid);

      this.products         = products;
      this.productsInBasket = productsInBasket;
      */
    }
	}
}
</script>

<style>
  .home {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
  }

  .productsList,
  .basketList {
    display: table-cell;

  }

  .productsList {
		border: #f00 0px solid;
		width: 600px;
  }

  .basketList {
		width: 400px;
		border: #00f 0px solid;
  }
</style>
