<template>
  <div class="basketItem">
    <div>
      {{ basketProduct.name }}
    </div>
    <div>
      <button @click="$emit('increment', basketProduct.uuid)">
        +
      </button>
    </div>
    <div>
      {{ basketProduct.number }}
    </div>
    <div>
      <button @click="$emit('decrement', basketProduct.uuid)">
        -
      </button>
    </div>
    <div>
      <button @click="$emit('remove', basketProduct.uuid)">
        X
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    basketProduct: {
      type:     Object,
      required: true
    }
  }
}
</script>

<style>
  .basketItem {
    margin: 20px;
  }

  .basketItem > div {
		display: inline-block;
    margin-right: 20px;
  }
</style>


