<template>
  <div class="productItem">
    <div>
      <img :src="getImgUrl(product.photo)">
    </div>
    <div>
      <div>Name: {{ product.name }}</div>
      <div>Price: {{ product.price }}</div>
      <div>Number: {{ product.number }}</div>
    </div>
    <div>
      <button @click="$emit('add', product.uuid)">
        Add to basket
      </button>
    </div> 
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type:     Object,
      required: true
    }
  },
  methods: {
    getImgUrl(name) {
      return require(`../assets/${name}.jpg`);
    }
  }
}
</script>

<style>
  .productItem {
    margin: 20px;
  }

  .productItem > div {
		display:      inline-block;
    margin-right: 20px;
  }
</style>
