<template>
  <div id="app">
    <div id="navigation">
      <router-link to="/">Home</router-link> |
      <router-link to="/login">Login</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
  #app {
    color:        '#00f';
    font-family:  'tahoma';
    margin:       0 auto;
    max-width:    1000px;
  }

  #navigation {
    padding: 30px;
  }
</style>
